.shopUI {
    width: 100vw;
    height: 100vh;
    display: inline-block;
    position: relative;
    justify-content: center;
    margin: auto;
    background-color: #F3F6F9;
}

.shopinf {
    margin-bottom: 3%;
    margin-top: 5%;
    width: 100%;
    height: 10%;
}

.between_header {
    font-size: 30px;
    color: FFB6C1;
    margin-bottom: 1%;
}

.products {
    margin-bottom: 1%; 
    display: flex;
    flex-wrap: wrap;
    margin-left: 5.5%;
}

.feedbacks {
    margin-bottom: 1%;
}




