.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.css-1xez8po-MuiPaper-root-MuiCard-root {
    /* Add any styling for individual product cards here */
    /* For example, you might want to set a width to control the number of cards in a row */
    flex: 0 0 calc(33.33% - 10px);
    /* Assuming you want three cards in a row with some spacing */
    margin: 20px;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.css-bhp9pd-MuiPaper-root-MuiCard-root {
    margin-bottom: 2%;
    width: 60%;
    margin-left: 7%;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.css-1xez8po-MuiPaper-root-MuiCard-root {
    margin-right: 7%;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.css-1oouhv5-MuiPaper-root-MuiCard-root {
    margin-left: 7%;
}

div#root {
    background: #F3F6F9;
}